:root{
    --c-principal: #13005A;
    --c-menu: #402bb4;
    --c-secundario: #1C82AD;
    --c-contraste: #03C988;
    --c-contraste-sec: #c9ab03;
    --t-principal:  'Roboto', sans-serif;
    --t-secundaria: 'Staatliches', cursive;
    --t-titulos:  'Anton', sans-serif;
}

body{
    background-color: var(--c-principal);
}

h1{
    font-family: var(--t-titulos);
    color: var(--c-contraste);
    font-size: calc(1.725rem + 5.7vw);
}

h2{
    font-family: var(--t-titulos);
    color: var(--c-contraste);
    font-size: 3.5rem;
}

h3{
    color: var(--c-secundario);
    font-family: var(--t-principal);
}

p{
    color: var(--c-secundario);
    font-family: var(--t-principal);
    font-size: 1.15rem;
}

/* Home */

.home{
    display: flex;
}

/* Encabezado */

.encabezado{
    background-color: var(--c-menu);
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
}

.encabezado-div{
    margin-top: auto;
    margin-bottom: auto;
}

.encabezado-img{
    width: 90%;
    border-radius: 50%;
    margin-bottom: 5%;
}

.encabezado-lista{
    list-style: none;
}

.encabezado-item{
    text-align: left;
    margin-top: 0.5rem;
}

.encabezado-a{
    color: var(--c-contraste);
    font-family: var(--t-principal);
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 900;
}

.encabezado-a:hover{
    color: var(--c-contraste-sec);
}

@media screen and (max-width: 767px){

    .encabezado{
        width: 100%;
        height: 85.39px;
        z-index: 10;
        transition: all 0.3s;
    }

    .encabezado-a{
        height: 100vh;
    }

    .encabezado-div{
        position: relative;
        margin: 0;
        flex-direction: column;
    }

    .encabezado-lista{
        padding: 0;
        display: none;
        transition: all 0.5s;
    }

    .encabezado-lista-a{
        display: block;
    }

    .encabezado-item{
        text-align: center;
        width: 100%;
    }

    .encabezado-img{
        display: none;
        width: 50%;
        margin-top: 10vh;
        transition: all 0.5s;
    }

    .encabezado-img-a{
        display: inline;
    }

    /* Boton menú */

    .barra_menu{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 5%;
        transform: translate(0, 90%) scale(1.5);
        cursor: pointer;
    }

    .barra_menu span{
        display: block;
        width: 100%;
        height: 2px;
        background: black;
        margin-top: 6px;
        transform-origin: 0px;
        transition: all 0.3s;
    }

    .activarlinea1_barra_menu{
        transform: rotate(45deg) translate(-2px, 1px);
    }

    .activarlinea2_barra_menu{
        opacity: 0;
        margin-left: -30px;
    }

    .activarlinea3_barra_menu{
        transform: rotate(-45deg) translate(-4px, 2px);
    }
}

/* Main */

.contenedor{
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    flex-wrap: wrap;
    position: relative;
}

@media screen and (max-width: 767px){
    .contenedor{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

/* Inicio */

.inicio{
    height: 100vh;
    display: flex;
    align-items: center;
}

.inicio-div{
    border: 1px solid black;
}

.inicio-h1-cc{
    color: var(--c-contraste-sec);
}

.inicio-h3{
    color: var(--c-contraste-sec);
}

.inicio-h3-bigger{
    font-size: 2.15rem;
}

.inicio-email{
    color: var(--c-contraste);
    cursor: pointer;
    text-decoration: underline;
    transition: .3s ease all;
}

.inicio-email:hover{
    color: var(--c-contraste-sec);
}

.inicio-button{
    margin: 1rem;
    margin-bottom: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 3rem;
    background-color: var(--c-contraste);
    font-family: var(--t-principal);
    font-size: 2rem;
    font-weight: 900;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.inicio-button::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 50%;
    transform-origin: center;
}

.inicio-button:hover::after{
    transform: scale(150);
    background-color: var(--c-contraste-sec);
}

.inicio-button:hover{
    background-color: #a38b02;
}

.inicio-button-span{
    position: relative;
    z-index: 2;
}

.inicio-social{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #03c9877e;
    color: #ffffff;
    border-radius: 50%;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 1.5rem;
    transition: .3s ease all;
    position: relative;
    overflow: hidden;
}

.inicio-social::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 50%;
    transform-origin: center;
}

.inicio-social:hover::after{
    transform: scale(35);
    background-color: var(--c-contraste-sec);
}

.inicio-social:hover{
    background-color: #a38b02;
}

.fa-brands{
    position: relative;
    z-index: 2;
}

/* Sobre mi */

.sobre-mi{
    display: flex;  
    height: 100vh;
    align-items: center;
}

.sobre-mi-div{
border: 1px solid black;
}

.p-frase{
    color: var(--c-contraste);
    font-size: 1.5rem;
    font-family: var(--t-titulos);
}

.p-principal{
    color: var(--c-secundario);
    font-weight: 900;
}

.p-contacto{
    font-size: 1.15rem;
}

/*Portafolio */

.portafolio{
    display: flex;
    min-height: 100vh;
    align-items: center;
}

/*@media screen and (max-width: 1198px) {
    .portafolio{
        margin-bottom: 40rem;
    }
}*/

/*@media screen and (min-width: 767px){
    .portafolio{
        height: 100vh;
    }
}*/

.portafolio-div{
    border: 1px solid black;
}

.portafolio-proyecto{
    display: flex;
    flex-wrap: wrap;
}

.proyecto-arc{
    border: 3px solid var(--c-contraste-sec);
    margin: 1rem;
    max-width: 25rem;
}

.portafolio-img{
    width: 100%;
    height: auto;
}

.proyecto-info{
    margin: 1rem;
}

.proyecto-nombre{
    font-family: var(--t-titulos);
    color: var(--c-contraste);
    letter-spacing: 0.1em;
}

.proyecto-desc{
    font-weight: 900;
}

.proyecto-arc i{
    font-size: 2rem;
    margin-right: 1rem;
}

.html{
    color: #FF5733;
}

.css{
    color: #294de4;
}

.js{
    color: #f0db4f;
}

/*Educación */

.educacion{
    height: 100vh;
    display: flex;
    align-items: center;
}

.educacion-div{
    border: 1px solid black;
}

.edu-nombre{
    color: var(--c-contraste);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.edu-curso{
    margin-top: 0.5rem;
    color: var(--c-contraste-sec);
    font-weight: 900;
}

/* Habilidades */

.skills{
    height: 100vh;
    display: flex;
    align-items: center;
}

.skills-div{
    border: 1px solid black;
}

.skills-div i{
    font-size: 2rem;
    margin-right: 1rem;
}

.skills-div h3{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.boot{
    color: #563d7c;
}
/* Contacto */

.contacto{
    height: 100vh;
    display: flex;
    align-items: center;
}

.contacto-div{
    border: 1px solid black;
}

.contacto-pricipal p{
    font-weight: 900;
}

.contacto-pricipal i{
    color: var(--c-contraste-sec);
}

.contacto-p{
    font-size: 1.5rem;
}

.contacto-desarrollo{
    font-size: 3rem;
    margin-left: 1rem;
}

.contacto-desarrollo i {
    margin-left: 1.5rem;
}
